<a href="<%= Web::Routes.path(:new_entry) %>"><button type="button">New entry </button><br><br><br></a>

<a href="/"><button type="button"> Home </button><br><br><br></a>

<a href="/entries/logout"><button type="button">Logout </button><br><br><br></a>

<% if entries.any? %>
  <div class="datagrid"><table>
  <% entries.each do |e| %>
      <tr>
      <td><%= e.title %></td>
      <td><%= e.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      <td><%= e.author %></td>
      <td><%= e.description %></td>
      
      <td>
        <%= link_to 'Edit Entry', Web::Routes.path(:edit_entry, id: e.id), class: 'btn', title: 'Edit_Entry' %>
      </td>

      <td>
      <%=form_for :entry, Web::Routes.path(:entry, id: e.id), method: :delete do 
            submit 'Delete' 
      end%>
     </td> 
      
    </tr>
  <% end %>
  </table></div>

<% else %>
  <p class="placeholder">There are no entries yet.</p>
<% end %>
