
<a href="<%= Web::Routes.url(:entries) %>"><button type="button">Admin area </button><br><br><br></a>

<% if entries.any? %>
  <% entries.each do |e| %>
    <div id="entry">
      <h3><%= e.title %></h3>
      <date><%= e.created_at.strftime("%d/%m/%Y %H:%M")  %></date>
      <p>By: <%= e.author %></p>
      <p><%= e.description %></p>
    </div>
  <% end %>
<% else %>
  <p class="placeholder">There are no entries yet.</p>
<% end %>

